<launch>
	<rosparam file="$(find gamesh)/config/default.yaml" command="load" />
	
	<node name="gamesh_node"
		pkg="gamesh"
		type="gamesh_node"
		output="screen"
		required="true">
		
	</node>
	
	<node name="bag_play"
		pkg="rosbag"
		type="play"
		args="--clock -r 0.25 /home/enrico/bags/gamesh/gamesh_rays_by_hand_2016-10-12-16-47-07.bag"
		required="false">
	</node>
	
	<node pkg="tf"
		type="static_transform_publisher"
		name="world_map_bc"
		args="0 0 0 0 0 0 world map 100"
	/>
	
</launch>
